<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutrister">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nutrister">
        <activity
            android:name=".facts.VitaminK"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.VitaminE"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.VitaminD"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.VitaminC"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.VitaminB"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.VitaminA"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.Potassium"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.Magnesium"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".facts.Calcium"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomFood"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.log.LogToSearch"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.search.Search_NotFound"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdateProfile"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SetupProfile" />
        <activity
            android:name=".Questionnaire"
            android:parentActivityName=".SetupProfile" />
        <activity android:name=".Login" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>